#blog-section-wrapper{
	position: relative;
	float: left;
	width: 960px;
	background-color: #FFFFFF;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: blog list ::::::::::::::::::::: */
#blog-list-column{
	padding: 20px;
	position: relative;
	float: left;
	width: 620px;
}
#single-post{
	margin-bottom: 10px;
	/* border-bottom: 1px solid #C7C7C7; */
}

/* :::::::::: article image */
.blog-section-featured-image img{
	border: 3px solid #661E3B;
	border-right: 5px solid #661E3B;
	border-bottom: 5px solid #661E3B;
}
#article-info-block{
	float: left;
    margin-top: 3px;	
	margin-bottom: -5px;
	width: 625px;
	height: 100%
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: comment counter (hidden for now)*/
.comment-counter{
	display: none;
}


/* :::::::::: article title */
.article-title{
	float: left;
	height: 18px;
	margin-right: 5px;
}
.article-title h2{
	float: left;
	height: 20px;
	width: 100%;
	color: #661E3B;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.article-title h2 a{
	float: left;
	height: 20px;
	width: 100%;
	color: #661E3B;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.article-title h2 a:hover{
	color: #e87e2d;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: article author, date, categories*/
.article-meta-container{
	float: left;
	height: 25px;
	margin-bottom: 5px;
}
#single-post p .topMeta{
	float: left;
	padding-top: 4px;
	height: 20px;
	font-size: 12px;
	color: #706f6f;
}
.topMeta a{
	text-decoration: none;
	color: #c5b54d;
}
.topMeta a:hover{
	text-decoration: none;
	color: #671e3b;
}
.article-author a{
	font-size: 14px;
	color: #E87F2C;
	text-decoration: none;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: article caption ::::::::::::::: */
.article-caption{
	width: 625px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}
.article-caption a{
	text-decoration: none;
	margin-left: 5px;
	font-weight: 700;
	font-size: 14px;
	color: #e87e2d;
}
.article-caption a:hover{
	color: #671e3b;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: article ::::::::::::::::::::::: */
#single-post p{
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	padding-bottom: 20px;
	color: #394f58;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: pagination :::::::::::::::::::: */
.wp-pagenavi {
	clear: both;
    float: left;
    margin-top: 10px;
}
.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #c4b44d;
	padding: 3px 5px;
	margin: 2px;
	color: #e87f2c;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #b8442f;
	color: #b8442f;
}
.wp-pagenavi span.current {
	font-weight: 470;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: sidebar ::::::::::::::::::::::: */
#blog-sidebar{
	position: relative;
	float: right;
	padding: 20px;
	width: 260px;
	background: #FFFFFF;
}
#blog-sidebar ul{
	padding-top: 5px;
}
#blog-sidebar li{
	padding-left: 5px;
}
.side-col{
	
}
/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: free game a day ::::::::::::::: */
#sidebar-free-game-a-day{
	position: relative;
	float: left;
	margin-bottom: 15px;
	text-align: center;
}
#sidebar-free-game-a-day .sidebar-heading{
	position: relative;
	float: left;
	height: 25px;
	width: 265px;
	background: #661E3B;
}
#sidebar-free-game-a-day .sidebar-heading h3{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
}
.fgad-image{
	position: relative;
	float: left;
	margin-bottom: 5px;
}
.fgad-title{
	position: relative;
	text-align: center;
	color: #671e3b;
	font-size: 14px;
	font-weight: 500;
}
.fgad-title a{
	color: #e87e2d;
	text-decoration: none;
}
.fgad-title a:hover{
	color: #671e3b;
}
.fgad-description{
	/* display: none; */
	font-size: 10px;
	color: #394f58;
	font-weight: 500;
	text-align: center;
}
.fgad-url{ }

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: bloggers wanted ::::::::::::::: */
#sidebar-bloggers-wanted{
	position: relative;
	float: left;
	margin-bottom: 15px;
}
#sidebar-bloggers-wanted .sidebar-heading{
	position: relative;
	float: left;
	height: 25px;
	width: 265px;
	background: #b84430;
}
#sidebar-bloggers-wanted .sidebar-heading h3{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
}
#sidebar-bloggers-wanted p{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #394f58;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
}
#sidebar-bloggers-wanted a{
	color: #e87e2d;
	text-decoration: none;
	cursor: pointer;
}
#sidebar-bloggers-wanted a:hover{
	color: #671e3b;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: most commented :::::::::::::::: */
#sidebar-most-commented{
	position: relative;
	float: left;
	margin-bottom: 15px;
}
#sidebar-most-commented .sidebar-heading{
	position: relative;
	float: left;
	height: 25px;
	width: 265px;
	background: #e87e2d;
}
#sidebar-most-commented .sidebar-heading h3{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
}
#sidebar-most-commented ul{
	float: left;
}
#sidebar-most-commented ul a{
	padding-top: 3px;
	font-size: 11px;
	text-align: left;
	color: #394f58;
	text-decoration: none;
}
#sidebar-most-commented ul a:hover{
	color: #e87e2d;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: recent reviews :::::::::::::::: */
#sidebar-recent-reviews{
	position: relative;
	float: left;
	margin-bottom: 15px;
}
#sidebar-recent-reviews .sidebar-heading{
	position: relative;
	float: left;
	height: 25px;
	width: 265px;
	background: #c5b54d;
}
#sidebar-recent-reviews .sidebar-heading h3{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
}
#sidebar-recent-reviews ul{
	float: left;
}
#sidebar-recent-reviews ul a{
	padding-top: 3px;
	font-size: 11px;
	text-align: left;
	color: #394f58;
	text-decoration: none;
}
#sidebar-recent-reviews ul a:hover{
	color: #e87e2d;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: twitter feed :::::::::::::::::: */
#sidebar-twitter{
	position: relative;
	float: left;
	margin-bottom: 15px;
}
#sidebar-twitter .sidebar-heading{
	position: relative;
	float: left;
	height: 25px;
	width: 265px;
	background: #394f58;
}
#sidebar-twitter .sidebar-heading h3{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
}
#twitter-feed-wrap{
	float:left;
	margin-top: 7px;
	margin-bottom: -3px;
}
#twitter_t {
   width: 270px;
   height: 10px;
   background-image:url("../images/newgame+twitter-feed-top.png");
}
#twitter_m {
   width: 270px;
   height: auto !important;
   min-height: 270px;
   padding: 0 15px;
   background:url("../images/newgame+twitter-feed-middle.png")  0 0 repeat-y;
}
#twitter_container {
   padding-bottom: 10px;
}
#twitter_update_list {
   width: 270px;
   padding: 0;
   overflow: hidden;
   font-size: 14px;
   color: #c5b54d;
   line-height: 16px;
   font-weight: 500;
}
#twitter_update_list #twitter_container ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none outside none;
    list-style-type: none;
    overflow: hidden;
}
#twitter_update_list li .span{
	width: 250px;
	overflow: hidden;
}
#twitter_update_list li {
   padding-bottom: 10px;
   width: 230px;
   list-style: none;
   overflow: hidden;
}
#twitter_update_list li a {
   color: #e87e2d;
   text-decoration: none;
}
#twitter_update_list li a:hover {
   color: #671e3b;
}
#twitter_b {
   width: 270px;
   height: 119px;
   background: url("../images/newgame+twitter-feed-bottom.png");
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: media page :::::::::::::::::::: */
#blog-gallery-page-wrapper{
	margin-top: 25px;
	margin-bottom: 20px;
}
#blog-gallery-container{
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 10px;
	width: 900px;
}
#blog-gallery-container #gallery-1 a{
	padding-right: 5px !important;	
}
#blog-gallery-container #gallery-1 img{
	border: 2px solid #671e3b !important;
}
#blog-gallery-container li.gallery-pagination{
	color: #e87e2d !important;
}
#blog-gallery-container .pg_next a{
	color: #e87e2d !important;
	text-decoration: none;
}
#blog-gallery-container .pg_previous a{
	color: #e87e2d !important;
	text-decoration: none;
}
#blog-gallery-container .pg_next a:hover{
	color: #671e3b !important;
	text-decoration: none;
}
#blog-gallery-container .pg_previous a:hover{
	color: #671e3b !important;
	text-decoration: none;
}
#blog-gallery-page-wrapper #blog-gallery-content p{
	width: 600px;
	color: #394f58;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	text-align: center:
}
#blog-gallery-content a{
	color: #e87e2d;
	text-decoration: none;
}
#blog-gallery-content a:hover{
	color: #671e3b;
}
.pg_paging .pg_previous {
    color: #E87E2D;
    display: block;
    float: left;
    margin: -1px 3px 5px 0 !important;
    overflow: hidden;
    height: 26px !important;
    width: 26px !important;
}
.pg_paging .pg_next {
    color: #E87E2D;
    display: block;
    float: left;
    height: 14px;
    margin: -1px 0 0 3px !important;
    overflow: hidden;
    height: 26px!important;
    width: 26px!important;
}
#blog-gallery-content p{
	margin: 20px 0;
}
#media-gallery-container{
	margin-left: 30px;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: blog page ::::::::::::::::::::: */
#blog-page-wrapper{
	/*
margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
*/
}
/* :::::::::: blog page header */
#blog-page-header{
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	width: 940px;
}
/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: image & article information ::: */
#blog-page-header-left{
	position: relative;
	float: left;
	width: 50%;
}
/* :::::::::: image :::::::::: */
.blog-page-image img{
	width: 460px;
	height: 221px;
	border: 3px solid #661E3B;
	border-right: 5px solid #661E3B;
	border-bottom: 5px solid #661E3B;
}
/* :::::::::: article information :::::::::: */
#blog-page-header-left #article-info-block{
	float: left;
    margin-top: 3px;	
	margin-bottom: -5px;
	width: 460px;
	height: 100%;
}
#blog-page-header-left #article-info-block .article-title{
	float: left;
	height: 100%;
}
#blog-page-header-left #article-info-block .article-title h2{
	float: left;
	height: 100%;
	width: 100%;
	color: #661E3B;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
#blog-page-header-left #article-info-block .article-meta-container{
	float: left;
	height: 25px;
	margin-bottom: 5px;
}
#blog-page-header-left #article-info-block .topMeta{
	float: left;
	padding-top: 4px;
	height: 20px;
	font-size: 12px;
	color: #706f6f;
}
#blog-page-header-left #article-info-block .topMeta a{
	color: #c5b54d;
}
#blog-page-header-left #article-info-block .topMeta a:hover{
	color: #671e3b;
}
#blog-page-header-left #article-info-block .article-author a{
	font-size: 14px;
	color: #E87F2C;
	text-decoration: none;
}
#blog-page-header-left #article-info-block .article-author a:hover{
	color: #671e3b;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: game information - specific to articles without galleries */
#blog-gallery-page-header-right{
	position: relative;
	float: right;
	width: 50%;
	height: 230px;
}
#article-gallery-game-info-container{
	position: absolute; 
	bottom: 0; 
	left: 0;
	width: 460px;
}
#article-gallery-game-info-line{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	display: inline-block;
}
#article-gallery-game-info-line .blah{
	position: relative;
	float: left;
	width: 17%;
	text-align: right;
	font-size: 11px;
	font-weight: 500;
	color: #c5b54d;
}
#article-gallery-game-info-line .article-game-info{
	position: relative;
	float: right;
	width: 82%;
	text-align: left;
	font-size: 12px;
	font-weight: 500;
	color: #e87e2d;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: game information & gallery :::: */
#blog-page-header-right{
	position: relative;
	float: right;
	width: 50%;
}
/* :::::::::: game information */
#article-game-info-container{
	position: relative;
	float: left;
	width: 460px;
	height: 145px;
}
#article-game-info-line{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	display: inline-block;
}
#article-game-info-line .blah{
	position: relative;
	float: left;
	width: 17%;
	text-align: right;
	font-size: 11px;
	font-weight: 500;
	color: #c5b54d;
}
#article-game-info-line .article-game-info{
	position: relative;
	float: right;
	width: 82%;
	text-align: left;
	font-size: 12px;
	font-weight: 500;
	color: #e87e2d;
}
/* :::::::::: gallery for article pages
   :::::::::: lightbox styling - wp-content/lbp-css/elegant/colorbox.css
   :::::::::: display styling - prettyGallery.css */
#article-gallery-container{
	position: relative;
	float: left;
	width: 460px;
	height: 20%;
	vertical-align: baseline;
}
#gallery-1 a{
	padding-right: 5px !important;	
}
#gallery-1 img{
	border: 2px solid #671e3b !important;
}
li.gallery-pagination{
	color: #e87e2d !important;
}
.pg_next a{
	color: #e87e2d !important;
	text-decoration: none;
}
.pg_previous a{
	color: #e87e2d !important;
	text-decoration: none;
}
.pg_next a:hover{
	color: #671e3b !important;
	text-decoration: none;
}
.pg_previous a:hover{
	color: #671e3b !important;
	text-decoration: none;
}


/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: article body :::::::::::::::::: */
.article-body{
	position: relative;
	float: left;
	margin-left: 10px;
	width: 940px;
	height: 100%;
	/*
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-moz-column-rule: none;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-webkit-column-rule: none;
	column-count: 2;
	column-gap: 20px;
	*/
	column-rule: none;
}
.ie .article-body{
	position: relative;
	float: left;
	margin-left: 10px;
	width: 940px;
	height: 100%;
}
.article-body i{
	font-style: italic;
}
.article-body b{
	font-weight: 700;
}
.article-body p{
	float: left;
	padding-bottom: 20px;
	width: 460px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #394f58;
}
.article-body #lipsum{
	/* margin-bottom: 50px; */
}
.article-body a{
	color: #e87e2d;
	text-decoration: none;
}
.article-body a:hover{
	color: #671e3b;
}
.article-body ul{
	float: left;
	padding-bottom: 20px;
	list-style: square;
	list-style-position: inside;
	padding-left: 1em;
	text-indent: -1em;
	color: #c5b54d;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	width: 445px;
}
.article-body ol{
	float: left;
	padding-bottom: 20px;
	list-style: lower-roman;
	list-style-position: inside;
	color: #c5b54d;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	width: 460px;
}
.article-body li{
	color: #394f58;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}
.article-body strong{
	color: #671e3b;
	font-size: 14px;
	font-weight: 500;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: previous & next article buttons */
/* :::::::::: previous */
#prev-button{
	position: absolute;
	float: left;
	margin-left: -24px;
	margin-top: 330px;
	width: 20px;
	height: 40px;
	text-align: center;	
}
#prev-button a{
	font-size: 24px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 500;
	padding: 10px 5px;
	border: 1px solid #FFFFFF;
	border-right: 0px;
	background: #FFFFFF;
}
#prev-button a:hover{
	color: #671e3b;
	border-right: 0px;
}
#prev-button span {
	font-size: 24px;
	text-decoration: none; 
	color:#C7C7C7;
	font-weight: 500;
	padding: 10px 5px;
	border: 1px solid #e87e2d;
	border-left: 0px;
	background: #FFFFFF; 
}
/* :::::::::: next */
#next-button{
	position: absolute;
	float: right;
	margin-left: 960px;
	margin-top: 330px;
	width: 20px;
	height: 40px;
	text-align: center;	
}
#next-button a{
	font-size: 24px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 500;
	padding: 10px 5px;
	border: 1px solid #FFFFFF;
	border-left: 0px;
	background: #FFFFFF;
}
#next-button a:hover{
	color: #671e3b;
	border-left: 0px;
}
#next-button span {
	font-size: 24px;
	text-decoration: none; 
	color:#C7C7C7;
	font-weight: 500;
	padding: 10px 5px;
	border: 1px solid #e87e2d;
	border-left: 0px;
	background: #FFFFFF; 
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: reviews ::::::::::::::::::::::: */
#review-summary{
	position: relative;
	float: left;
	margin-bottom: 10px;
	width: 960px;
}
#review-summary-container{
	padding: 10px 40px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #c5b54d;
}
#review-summary-container .blah{
	display: none;
}
#review-summary-container .score{
	font-size: 16px;
}

#review-wrapper{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px 5px;
	width: 930px;
	background-color: #671e3b;	
}
/* :::::::::: score */
#review-score{
	position: relative;
	float: right;
}
#review-score-container{
	color: #FFFFFF;
	font-family: 'Press Start 2P',cursive;
}
#review-score-container .blah{
	font-size: 12px;
}
#review-score-container .score{
	margin-left: 5px;
	font-size: 16px;
}
#review-score-container .out-of{
	margin-left: 5px;
	font-size: 10px;
}
/* :::::::::: positives */
#review-positives{
	position: relative;
	float: left;
	width: 40%;
	color: #FFFFFF;
}
#review-positives-container{
	padding-left: 5px;
}
#review-positives-container .blah{
	font-size: 12px;
}
#review-positives-container .positives{
	margin-left: 5px;
	font-size: 12px;
}
/* :::::::::: negatives */
#review-negatives{
	position: relative;
	float: left;
	width: 40%;
	color: #FFFFFF;
}
#review-negatives-container{
	
}
#review-negatives-container .blah{
	font-size: 12px;
}
#review-negatives-container .negatives{
	margin-left: 5px;
	font-size: 12px;
}
/* :::::::::: notes */
#review-notes{
	width: 435px;
	padding: 10px;
	border: 1px solid #c5b54d;
}
/* :::::::::: side info */
.article-side{
	position: relative;
	float: right;
	width: 230px;
	font-size: 16px;
	line-height: 24px;
	color: #e87e2d;
}

/* :::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: article credits ::::::::::::::: */
#article-credit-wrapper{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 940px;
	height: 32px;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	border-top: 1px solid #c7c7c7 !important;
	border-bottom: 1px solid #c7c7c7 !important;
}
#article-credits-container{
	position: relative;
	float: left;
	padding-top: 9px;
	padding-left: 8px;
}
#article-credit-container{
	position: relative;
	float: left;
}
#article-credit{
	position: relative;
	float: left;
	height: 10px;
}
#article-credit a{
	text-decoration: none;
	color: #e87e2d;
}
#article-credit a:hover{
	color: #671e3b;
}
#image-credit{
	position: relative;
	float: left;
	padding-left: 20px;
	height: 10px;
}
#image-credit a{
	text-decoration: none;
	color: #e87e2d;
}
#image-credit a:hover{
	color: #671e3b;
}
.article-credits{
	padding-left: 5px;
}
#article-share-buttons{
	position: relative;
	float: right;
	margin-top: 1px;
	text-decoration: none;
}
#article-social-icons {
	position: relative;
	padding: 0;
	height: 30px;
	width: 150px;
	border: 0;
} 
#article-social-icons li {
	background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) 0 0 no-repeat;
	position: absolute;
	height: 30px;
	display: block;
	list-style: none;
}
#article-social-icons a {
	height: 30px;
	display: block;
} 
#article-social-icons #plus-social-icon { left: 0px; height: 30px; width:30px; text-indent: -9999px;}
#article-social-icons #facebook-social-icon { left: 30px; background-position: -30px 0; height: 30px; width:30px; }
#article-social-icons #twitter-social-icon { left: 60px; background-position: -60px 0; height: 30px; width: 30px; }
#article-social-icons #googleplus-social-icon { left: 90px; background-position: -90px 0; height: 30px; width: 30px; }
#article-social-icons #pinterest-social-icon { left: 120px; background-position: -120px 0; height: 30px; width: 30px; }

#article-social-icons #plus-social-icon a:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) 0px -30px no-repeat; }
#article-social-icons #facebook-social-icon a:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) -30px -30px no-repeat; }
#article-social-icons #twitter-social-icon a:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) -60px -30px no-repeat; }
#article-social-icons #googleplus-social-icon a:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) -90px -30px no-repeat; }
#article-social-icons #pinterest-social-icon a:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) -120px -30px no-repeat; }

/* :::::::::: fav/unfav buttons */
#article-favorite-button{
	position: relative;
	margin: 0;
	padding-top: 5px;
	height: 30px;
	width: 30px;
	border: 0;
}
#article-favorite-button li {
	background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/newgameplus-favorite-button.png) 0 0 no-repeat;
	position: absolute;
	height: 30px;
	display: block;
	list-style: none;
}
#article-favorite-button a {
	height: 30px;
	display: block;
} 
/* :::::::::: fav */
#article-favorite-button a.fav { left: 0px; margin-right:0 !important; height: 30px; width:30px; text-indent: -9999px;}
#article-favorite-button a.fav:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/newgameplus-favorite-button.png) 0px -30px no-repeat; }
/* :::::::::: un-fav */
#article-favorite-button a.unfav { left: 30px; margin-right:0 !important; background-position: -30px -30px; height: 30px; width:30px; text-indent: -9999px; }
#article-favorite-button a.unfav:hover { background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/newgameplus-favorite-button.png) -30px -30px no-repeat; }

/* ::::::::::::::: Special styles for Google+ buttons since Google makes it a pain not to use their button */
.googleplus {  
	position:relative;   
}  
.googlehider {  
	opacity: 0;  
	height: 30px;  
	width: 30px;  
	position: absolute;  
	margin: 0;  
	padding: 0; 
	z-index: 3;  
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
	filter: alpha(opacity=0);  
}  
#article-social-icons .Cg .ah:hover {
    background: url(http://www.newgameplus.co/wp-content/themes/newgameplus/images/NewGamePlus-Article-Social-Icons.png) -90px -30px no-repeat;
}


/* ::::::::::::::::::::::::: */
/* :::::::::: article footer */
#article-footer{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-bottom: 40px;
	width: 940px;		
}
#article-footer-left{
	position: relative;
	float: left;
	width: 50%;
}
#article-footer-right{
	position: relative;
	float: right;
	width: 50%;	
}

/* :::::::::: footer prev/next article buttons */
#footer-prev-next-buttons{
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	margin-top: 22px;
}
#footer-prev-button{
	position: relative;
	float: left;
	width: 223px;
	height: 40px;
	text-align: center;
}
#footer-prev-button a{
	padding: 10px 42px;
	width: 223px;
	font-size: 16px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 400;
	border: 1px solid #e87e2d;
}
#footer-next-button{
	position: relative;
	float: right;
	margin-left: 10px;
	width: 223px;
	height: 40px;
	text-align: center;
}
#footer-next-button a{
	padding: 10px 46px;
	width: 223px;
	font-size: 16px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 400;
	border: 1px solid #e87e2d;
}
#footer-prev-next-buttons a:hover{
	color: #671e3b;
	border: 1px solid #671e3b;
}
#footer-prev-button .footer-nav-current{
	padding: 10px 42px;
	width: 223px;
	font-size: 16px;
	text-decoration: none;
	color:  #c7c7c7;
	font-weight: 500;
	border: 1px solid #c7c7c7;
}
#footer-next-button .footer-nav-current{
	padding: 10px 46px;
	width: 223px;
	font-size: 16px;
	text-decoration: none;
	color:  #c7c7c7;
	font-weight: 500;
	border: 1px solid #c7c7c7;
}



/* :::::::::: placeholder */
#article-footer-content-placeholder{
	
}

/* :::::::::: comments ::::::::::: */
#article-comments-wrapper textarea{
	margin-top: 10px;
	padding: 5px;
	width: 457px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px inset #CCCCCC;
    color: #555555;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #C7C7C7;
}
#article-comments-wrapper h3{
	font-size: 14px;
	font-weight: 500;
	color: #e87e2d;
	padding-bottom: 10px;
}
#article-comments-wrapper #comment{
	
}

#article-comment{
/*
	width: 457px;
	height: 100%;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C7C7C7;
    padding: 5px;
*/
}
#respond{
	margin-bottom: 10px;
}
#respond p{
	color: #394f58;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}
#respond a{
	color: #e87e2d;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: none;
	cursor: pointer;
}
#respond a:hover{
	color: #671e3b
}

/* :::::::::: user comments :::::::::: */
/* :::::::::: comment author avatar */
#article-user-comment-wrapper{
	border-bottom: 1px dashed #c7c7c7;
}
#article-comment{
	position: relative;
	float: left;
	margin-bottom: 15px;
	width: 457px;
	height: 100%;
}
#article-comment ul.children{
	margin-left: 24px;
}
#comment-left{
	width: 48px;
	height: 100%;
	position: relative;
	float: left;
}
#comment-right{
	width: 402px;
	height: 100%;
	position: relative;
	float: right;
}
/* :::::::::: comment avatar */
#comment-author-avatar{
	position: relative;
	float: left;
	width: 48px;
	height: 100%;
}
#comment-author-avatar img{
	width: 48px;
	height: 48px;
	border: 2px solid #671e3b !important;
}
.children #comment-author-avatar img{
	width: 42px;
	height: 42px;
	border: 2px solid #e87e2d !important;
}
/* :::::::::: comment author */
#comment-author-info-wrapper{
	float: left;
	margin-left: 5px;
	width: 402px;
	height: 25px;
}
.children #comment-author-info-wrapper{
	margin: 0;
}
#comment-author-info-wrapper .comment-author-name a{
	float: left;
	width: 405px;
	font-size: 16px;
	font-weight: 700;
	color: #671e3b;
	text-decoration: none;
}
.children #comment-author-info-wrapper .comment-author-name a{
	color: #e87e2d;
	font-weight: 500;
}
/* :::::::::: comment date */
#comment-author-info-wrapper .comment-date a{
	float: left;
	width: 405px;
	font-size: 11px;
	font-weight: 500;
	color: #c7c7c7;
	text-decoration: none;
}
/* :::::::::: comment body */
#comment-right #comment-body p{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	width: 405px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #394f58;
}
.children #comment-right #comment-body p{
	margin-left: 0;
}
#comment-body a{
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #e87e2d;
	text-decoration: none;
}
#comment-body a:hover{
	color: #671e3b;
}

/* :::::::::: comment reply button */
#comment-reply{
	float: left;
	margin-top: 5px;
	width: 48px;
}
#comment-reply a{
	padding: 2px 11px;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #e87e2d;
	text-decoration: none;
}
#comment-reply a:hover{
	background-color: #671e3b;
}
.comment-reply-login{
	display: none;
}


/* :::::::::: comment cancel button */
.cancel-comment-reply{
	position: relative;
	float: right;
	margin-top: 8px;
	width: 160px;
}
.cancel-comment-reply a{
	padding: 5px 5px;
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
	background-color: #e87e2d;
	text-decoration: none !important;
}
.cancel-comment-reply a:hover{
	background-color: #671e3b;
}
/*
.commentlist .article{
	height: 100%;
}
.comment-author img{
	position: relative;
	float: left;
	width: 45px;
	border: 1px solid #e87e2d !important;
}
.comment-author-name a{
	position: relative;
	float: left;
	width: 340px;
	font-size: 14px;
	font-weight: 700;
	color: #671e3b;
	text-decoration: none;
	margin-left: 5px;
}
.comment-date a{
	position: relative;
	float: left;
	font-size: 11px;
	font-weight: 500;
	color: #c7c7c7;
	text-decoration: none;
	margin-left: 5px;
}
.commentlist p{
	position: relative;
	float: left;
	margin-left: 55px;
}
.commentlist .fn{
	position: relative;
	float: left;
	width: 400px;
	font-size: 16px;
	font-weight: 700;
	color: #671e3b;
}
.commentlist .children {
	margin-left: 55px;
}
.commentlist .children .comment-author-name a{
	margin-left: 60px;
}
.commentlist li{
	margin-bottom: 10px;
}
*/

/* :::::::::: comment box glow effect */
#whats-new:focus{
	border-color: rgba(196, 180, 77, 0.9) !important;
	box-shadow: 0 0 7px rgba(196, 180, 77, 0.7) !important;
	outline-color: rgba(196, 180, 77, 0.9) !important;
}

#article-comments-wrapper #allowed_tags{
	margin-top: 5px;
	width: 350px;
	font-size: 12px;
	font-weight: 400;
	color: #C4B44D;
}
#article-comments-wrapper #submit{
	float: right;
	margin-top: 5px;
	margin-right: 2px;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #e87f2c;
	border: 0px;
}
#article-comments-wrapper #submit:hover{
	background-color: #661e3b;
}

/* :::::::::: comment pagination */
#blog-comment-navigation-wrapper{
	position: relative;
	float: left;
	margin-top: 25px;
	width: 100%;	
}
/* :::::::::: previous */
.comment-navigation-previous{
	position: relative;
	float: left;
	width: 180px;
	height: 40px;
}
.comment-navigation-previous a{
	width: 180px;
	font-size: 16px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 400;
	padding: 10px 5px;
	border: 1px solid #e87e2d;	
}
.comment-navigation-previous a:hover{
	color: #671e3b;
	border: 1px solid #671e3b;
}
/* :::::::::: next */
.comment-navigation-next{
	position: relative;
	float: right;
	width: 180px;
	height: 40px;
}
.comment-navigation-next a{
	width: 180px;
	font-size: 16px;
	text-decoration: none;
	color:  #e87e2d;
	font-weight: 400;
	padding: 10px 5px;
	border: 1px solid #e87e2d;	
}
.comment-navigation-next a:hover{
	color: #671e3b;
	border: 1px solid #671e3b;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::: about the author :::::::::::::::::::::::::::::::: */
#article-about-the-author{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	width: 440px;
}
#about-the-author-heading{
	padding-top: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	width: 440px;
	font-size: 12px;
	color: #671e3b;
	background: #FFFFFF;
	border-bottom: 1px solid #c5b54d;
}
#about-the-author-av-info-wrapper{
	float: left;
	margin-top: 5px;
	height: 55px;
}
#about-the-author-avatar{
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #671e3b;
}
#about-the-author-info{
	float: right;
	padding-left: 5px;
	width: 380px;
}
.about-the-author-name{
	float: left;
	padding-top: 2px;
	width: 380px;
	font-size: 14px;
	color: #671e3b;
}
.user-nickname{
	float: left;
	padding-top: 2px;
	width: 380px;
	font-size: 12px;
	color: #394F58;
}
.user-nickname a{
	text-decoration: none;
	color: #e87e2d;
}
.user-nickname a:hover{
	color: #671e3b;
}

.about-the-author-google{
	float: left;
	padding-top: 2px;
	width: 380px;
	font-size: 12px;
	font-weight: 400;
	color: #394F58;
}
.about-the-author-google a{
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: #e87e2d;
}
.about-the-author-google a:hover{
	color: #671e3b;
}
#about-the-author-description{
	float: left;
	width: 440px;
	font-size: 12px;
    font-weight: 400;
    line-height: 16px;
	color: #394F58;
}