// colors
$color-white: RGBA(255, 255, 255, 1); // #FFFFFF - White
$color-black: RGBA(57, 79, 88, 1); // #394F58 - Oracle
$color-green: RGBA(196, 180, 77, 1); // #C4B44D - Sundance
$color-orange: RGBA(232, 127, 44, 1); // #E87F2C - Cadmium Orange
$color-red: RGBA(184, 68, 47, 1); // #B8442F - Medium Carmine
$color-purple: RGBA(102, 30, 59, 1); // #661E3B - Pompadour



$color-main: RGBA(48, 77, 145, 1); // #304D91 Chambray
$color-sub: RGBA(65, 154, 221, 1); // #419ADD Celestial Blue
$color-mid: RGBA(166, 203, 228, 1); // #A6CBE4 French Pass
$color-light: RGBA(219, 230, 234, 1); // #DBE6EA Pattens Blue

  // #c4b44d Green
	// #e87f2c Orange
	// #b8442f Red (Dark Orange)
	// #661e3b Purple
	// #384e56 Dark Blue


// fonts
/*
$font-regular: 'sinkin_sans400_regular';
$font-italic: 'sinkin_sans400_italic';
$font-bold: 'sinkin_sans700_bold';
$font-bold-italic: 'sinkin_sans700_bold_italic';
$font-black: 'sinkin_sans900_x_black';
*/
$font-awesome: 'FontAwesome';


// common breakpoints
$breakpoint-ipad-p: (768px 1024px) (orientation portrait);
$breakpoint-ipad-l: (768px 1024px) (orientation landscape);
$breakpoint-smaller-than-ipad: (max-width: 765px);
$breakpoint-larger-than-mobile: (min-width: 641px);
$breakpoint-iphone-p: (320px 568px) (orientation portrait);
$breakpoint-iphone-l: (320px 568px) (orientation landscape);
$breakpoint-webkit: (-webkit-min-device-pixel-ratio:0);
$breakpoint-firefox: (min--moz-device-pixel-ratio:0);
$breakpoint-main: max-width 1260px; // width I design at


// custom breakpoints


/* :::::::::: Style Guide :::::::::: */
/* Fonts
	font-family: 'Press Start 2P',cursive; 
	font-family: 'Maven Pro', sans-serif;
		  Sizes: 400, 500, 700         */
	
/* Colors
	#c4b44d - Green
	#e87f2c - Orange
	#b8442f - Red (Dark Orange)
	#661e3b - Purple
	#384e56 - Dark Blue*/